.navbar {
    background-color: var(--wimbledon-green);
    color: white;
    padding: 0 40px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--wimbledon-purple);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.navbar-section {
    display: flex;
    align-items: center;
    flex: 1; /* each section take 1/3 of space */
}

.navbar-section.center {
    justify-content: center;
}

.navbar-section.right {
    justify-content: flex-end;
}

.nav-logo {
    font-size: 1.4rem;
    font-weight: 800;
    color: white;
    text-decoration: none;
}

/* main links - center*/
.nav-link-main {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.nav-link-main:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--wimbledon-cream);
}

/* Welcome and logout */
.nav-welcome {
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 20px;
    transition: color 0.3s;
}

.nav-welcome:hover {
    color: var(--wimbledon-purple);
}

.btn-logout {
    background-color: var(--wimbledon-purple);
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.btn-logout:hover {
    background-color: #5d2a8a;
    transform: translateY(-2px);
}

/* auth links for not logged */
.nav-link-auth {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.btn-register {
    background-color: white;
    color: var(--wimbledon-green);
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}