
services:
  mysql:
    image: mysql:8.2
    container_name: tennis-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tennis_db
      MYSQL_USER: tennis_user
      MYSQL_PASSWORD: tennis_pass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  mysql_data:
    driver: local